nav {
    background-color: white;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
  }
  
  .custom-file-button input[type=file]::-webkit-file-upload-button{
    background-color: #0D6EFD;
    color: white;
  }
  
  .content-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 16px;
    width: 1000px;
    height: 297.97px;
    margin-top: 80px;
  }
  
  .content-2 h1 {
    font-style: normal;
    font-size: 31px;
    line-height: 38px;
    padding-bottom: 60px;
    margin-left: 500px;
    width: 209px;
    height: 39px;
  }

  .content-2 img {
    width: 100px;
  }  
  
  .operation {
    margin: 100px 0px 0px 20px;
  }