@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open Sans:wght@400;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost';
}

.first nav{
    background-color: white;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
}

.first .nav-item :hover {
    background-color: blue;
    color: white !important;
    border-radius: 4px;
}

.hero {
    background: #37517E;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 1349px;
    height: 760px;
    left: 0px;
    top: 50px;
}

.hero .main {
    position: absolute;
    width: 1190px;
    height: 526px;
    left: 82px;
    top: 153px;
}

.main h1 {
    position: absolute;
    width: 561.42px;
    height: 125px;
    left: 12px;
    top: calc(50% - 125px/2 - 86.8px);
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

#teks {
    position: absolute;
    width: 594.64px;
    height: 63.8px;
    left: 12px;
    top: calc(50% - 63.8px/2 + 7.59px);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
}

#button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 330.656px 0px 0px;
    gap: 25px;
    position: absolute;
    width: 636px;
    height: 55px;
    left: 12px;
    top: calc(50% - 55px/2 + 114.79px);
}

#get {
    padding: 17px 23px 40px 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 17px;
    width: 147.36px;
    height: 45px;
    background: #47B2E4;
    border-radius: 50px;
    border: none;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: white;
}

#watch {
    width: 132.98px;
    height: 45px;
    padding-top: 20px;
    flex: none;
    order: 1;
    flex-grow: 0;
    color: white;
}

.main img {
    position: absolute;
    width: 500px;
    height: 427px;
    left: 639px;
    top: calc(50% - 527px/2 + 8.5px);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 1349px;
    height: 239px;
    left: 0px;
    top: 797px;
    background: #F3F5FA;
}

h3 {
    position: absolute;
    width: 214.22px;
    height: 35px;
    left: calc(50% - 214.22px/2 + 0.09px);
    top: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #37517E;
}

#sentence {
    position: absolute;
    width: 522.48px;
    height: 20px;
    left: calc(50% - 522.48px/2 + 0.1px);
    top: 75px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #444444;
}

.content form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 6px 110px 6px 10px;
    isolation: isolate;
    position: absolute;
    width: 636px;
    height: 42.5px;
    top: 120px;
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
    border-radius: 50px;
}

.input {
    width: 516px;
    height: 30.5px;
    border: none;
}

.subscribe {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 13px 20.0156px 17px 28px;
    position: absolute;
    left: 522.98px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: #47B2E4;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    border: none;
    color: white;
}

.sosmed {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 1349px;
    height: 340px;
    left: 0px;
    top: 1036px;
    background: #FFFFFF;
}

.sosmed .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 1280px;
    height: 250px;
    background-color: #FFFFFF;
    padding: 0px;
    left: 35px;
    top: 50px;
}

#name{
    position: absolute;
    width: 95.61px;
    height: 41px;
    left: 12px;
    top: -5px;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #37517E;
}

#address{
    position: absolute;
    width: 163.98px;
    height: 140px;
    left: 12px;
    top: 44px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #5E5E5E;
}

.link {
    width: 25%;
    padding: 0 15px;
}

.link h4 {
    position: absolute;
    width: 90.31px;
    height: 23px;
    left: 300px;
    top: 5px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #37517E;
}

.link ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    list-style: none;
    position: absolute;
    width: 200px;
    height: 180px;
    left: 300px;
    top: 44px;
}

.link li{
    width: 306px;
    height: 28px;
    left: 20px;
    top: calc(50% - 14px/2 - 6px);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #777777;
}

.services {
    width: 25%;
    padding: 0 15px;
}

.services h4 {
    position: absolute;
    width: 97.36px;
    height: 23px;
    left: 650px;
    top: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #37517E;
}

.services ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    list-style: none;
    position: absolute;
    width: 200px;
    height: 180px;
    left: 650px;
    top: 44px;
}

.services li{
    width: 306px;
    height: 28px;
    left: 20px;
    top: calc(50% - 14px/2 - 6px);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #777777;
}

li {
    padding-left: 20px;
}

li:hover {
    color: #020202;
    padding-left: 8px;
}

.networks{
    position: absolute;
    width: 290px;
    height: 219px;
    flex: none;
    order: 3;
    flex-grow: 0;
    top: 5px;
    left: 1000px;
}

.networks h4{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #37517E;
}

.networks p {
    top: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    position: absolute;
    display: flex;
    align-items: center;
    color: #444444;
}

.social-links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 95.4375px 0px 0px;
    gap: 7.64px;
    position: absolute;
    height: 36px;
    top: 115px;
}

.social-links .social-links-item{
    width: 36px;
    height: 36px;
    background: #47B2E4;
    border-radius: 18px;
    top: 20px;
}

.copyright a{
    color: #47B2E4;
}

.copyright {
    position: absolute;
    width: 1349px;
    left: 0px;
    top: 1376px;
    background: #37517E;
    height: 81px;
    flex: none;
    order: 2;
    flex-grow: 0;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.copy {
    position: absolute;
    width: 253.75px;
    height: 19px;
    left: 100px;
    top: 31px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.design {
    position: absolute;
    width: 300px;
    height: 19px;
    left: 1025px;
    top: 30px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.design a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}